body{
    margin: 0;
    padding: 0;
    background-color: #7997A1;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/header_windTurbine.jpeg);
    display: grid;
    grid-template: 20% 20% 30% 10% 20%/ 60% 20% 20%;
    box-shadow: 0 0.25vh 1vh grey;
}

.logo{
    margin:0;
    grid-area: 2/2/3/4;
    text-align: center;
    font-size: 36px;
}
.logo h1 img{
    height: 36px;
    
}
.go-logo{
    color: black;
}
.motto{
    grid-area: 3/2/4/4;
    font-size: 20px;
    padding-right: 1vw;
}

.get-started-container{
    grid-area: 4/2/5/3;
}

.coverage-map-container{
    grid-area: 4/3/5/4;
}

#get-started-button{
   width: 130px;
   height: 40px;
   background-color:black;
   border-color: transparent;
   border-radius: 2.5px;
   color: white;
}

#coverage-map-button{
   width: 130px;
   height: 40px;
   background-color: white;
   border-color: transparent;
   border-radius: 2.5px;
   color: black;
}

.features{
    margin: 10vh 0px 0px 0px;
    padding: 0;
    width: 100vw;
    height: 25vh;
    display: grid;
    grid-template: 100%/ 10% 20% 10% 20% 10% 20% 10%;
}
.features div img{
    width: 7.5vw;
    height: 7.5vh;
    padding-top: 1vh;
}
.features div{
    text-align: center;
    box-shadow: 0.25vw 0.25vh 1vh grey;
}
.features div h4{
    margin-bottom: 0;
}
.features div p{
    font-size: 15px;
}
.trust{
    grid-area: 1/2/2/3;
}

.price{
    grid-area: 1/4/2/5;
}

.support{
    grid-area: 1/6/2/7;
}

.trust, .price, .support{
    background-color: rgb(99, 136, 159);
    border-radius: 2.5px;
}

.why{
    margin: 10vh 0 0 0;
    padding: 0;
    width: 100vw;
    height: 355vh;
    display: grid;
    grid-template: 55vh repeat(3, 10vh 90vh)/ 50vw 50vw; 
}

.why-description{
    grid-area: 1/1/2/3;
    text-align: center;
}

.why-description h1{
    font-size: 30px;
}

.why-description p{
    padding: 0 25% 0 25%;
}

.green-energy-icon{
    grid-area: 3/1/4/2;
}

.green-energy-description{
    grid-area: 3/2/4/3;
    background-color:rgb(30, 109, 157);
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.easy-install-icon{
    grid-area: 5/2/6/3;
}

.easy-install-description{
    grid-area: 5/1/6/2;
    background-color:rgb(30, 109, 157);
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.sustainable-icon{
    grid-area: 7/1/8/2;
}

.sustainable-description{
    grid-area: 7/2/8/3;
    background-color:rgb(30, 109, 157);
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.why div h3{
    font-size: 24px;
    text-align: center;
}

.why div p{
    font-size: 18px;
    line-height: 30px;
    padding: 0 20% 0 20%;
    text-align: center;
}

.why div img{
    height: 70vh;
    padding: 10vh 0 0 7vw;
}

.green-energy-description, .sustainable-description{
    box-shadow: -0.25vw 0.25vh 1vh grey;
}

.easy-install-description{
    box-shadow: 0.25vw 0.25vh 1vh grey;
}

footer{
    width: 100vw;
    height: 25vh;
    background-color:rgb(76, 109, 129);
}
footer ul{
    padding-top: 2vh;
}
footer p{
    padding: 8vh 0 0 0;
}

footer a{
    text-decoration: none;
    color: white;
}